# RapidAPI API key for Deep Translate
API_KEY="YOUR_API_KEY"

# MongoDB connection string
MONGO_HOST='YOUR_MONGO_HOST'

# Secret key
SECRET_KEY='YOUR_SECRET_KEY'

# PWA Push Notification VAPID Requirements
VAPID_PUBLIC_KEY='YOUR_VAPID_PUBLIC_KEY'
VAPID_PRIVATE_KEY='YOUR_VAPID_PRIVATE_KEY'
VAPID_MAILTO='mailto:your_email@example.com'
